{% extends "base.html" %}
{% block title %}Orders{% endblock %}



{% block styles %}
	<style>        
        .popup {
            /* structural css */
            display: none;
            z-index: 1;
            position: absolute;
            overflow: hidden;
			background: khaki;
			border: 1px solid;
        }        
    </style>
{% endblock %}	

<!--navbar-->
{% block navbar%}



{% endblock %}
<!--//navbar-->

<!--content-->
{% block content %}	

{% endblock %}
<!--//content-->

{% block javascript %}
	{% raw %}	
	<script>

	</script>
	{% endraw %}
{% endblock %}	

			